@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
  format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Pretendard", sans-serif !important;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; /* 기본 리스트 스타일 제거 */
}

.notice-contents p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #1C1E22;
  margin-bottom: 24px;
}

.notice-contents h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #1C1E22;
  margin-bottom: 1rem;
}

/* Swiper pagination bullets */
.swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
  right: 6.25rem !important;         /* 우측에 붙이기 */
  top: 50% !important;            /* 가운데 정렬 */
  transform: translateY(-50%) !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 12px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.12%);
  opacity: 1;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.swiper-pagination-bullet-active {
  background: #ff165d !important; /* 활성화 빨강/핑크 */
  border-radius: 6px !important;  /* 살짝 캡슐 느낌 */
  height: 24px !important;        /* 강조 */
}

@media (max-width: 1440px) {
  .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 2rem !important;         /* 우측에 붙이기 */
  }
}

@media (max-width: 640px) {
  .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 1.25rem !important;         /* 우측에 붙이기 */
  }

  .notice-content h1 {
    font-size: 1.5rem;
  }
  .notice-contents p {
    font-size: 1rem;
  }

  .notice-contents h2 {
    font-size: 1.125rem;
  }
}
